---
layout: default
---
<div class="post">
  <h3><a href="{{ page.url }}" title="Permalink for this post">{{ page.title }}</a></h3>
  <p class="date">{{ page.date | date_to_blog_string}}</p>
  <div class="entry">{{ content }}</div>
  <p class="metadata alt">You may notice that I do not provide a space
    for comments. If you want to start a conversation, you can
    <a href="mailto:blog@alieniloquent.com">email me</a>, 
    <a href="http://twitter.com/stesla">tweet at me</a>, or post
    something on your own blog.</p>
</div>
